    <div class="container">
      <%= render partial: 'nav' %>

      <hr />

      <div class="row">
        <h1>FAQ</h2>
      </div>

      <hr />

      <!-- Section -->

      <div class="row">
        <p><i>The Session class is the central coordinator in a Turbolinks for iOS application.</i></p>
      </div>
    </div>
