<div class="container">
  <hr />

  <%= render partial: 'nav' %>

  <hr />

  <div class="row">
    <div class="column">
      <h2>UI prototype</h2>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <p><b>
        This is a "classic" Rails 5 web app that makes an internal API call.
      </b></p>
    </div>
  </div>

  <!-- Section -->

  <div class="row">
  </div>

  <div class="row">
    <div class="column">
      <p><i>Fire an API call: ' GET /entities'</i></p>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <a class="button api-call" href="/entities">Call</a>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="column">
      <form>
        <fieldset>
          <label for="api-response">API Response</label>
          <textarea placeholder="…" id="api-response"></textarea>
        </fieldset>
      </form>
    </div>
  </div>
</div>
