    <div class="container">
      <hr />

      <div class="row">
        <h1>Simple API/front-end prototype</h2>
      </div>

      <hr />

      <!-- Section -->

      <div class="row">
        <h4>Fire an API call</h4>
      </div>
      <div class="row">
        <p><i>Endpoint: ' GET /entities'</i></p>
      </div>

      <div class="row">
        <a class="button api-call" href="/entities">Call</a>
      </div>

      <hr />

      <form>
        <fieldset>
          <label for="api-response">API Response</label>
          <textarea placeholder="…" id="api-response"></textarea>
        </fieldset>
      </form>
    </div>
